<!DOCTYPE html>
<html lang="en">
 <meta charset="UTF-8"/>
 <head>
  <title>
   @@ARTIST - @@TITLE
  </title>
  <link href="../../style.css" rel="stylesheet"/>
 </head>
 <body>
  <a href="../../index.html">
   Celtic Lyrics Corner
  </a>
  &gt;
  <a href="../../artists.html">
   Artists
  </a>
  &gt;
  <a href="../index.html">
   @@ARTIST
  </a>
  &gt;
  <a href="@@ALB_LINK">
   @@ALBUM
  </a>
  <br/>
  <div align="center">
   <table id="head_t">
    <tr>
     <td id="lc">
      <img src="@@ALB_LINK.jpg" width="100"/>
     </td>
     <td>
      <h3>
       @@TITLE
      </h3>
     </td>
    </tr>
    <tr> <td id="lc"> <u> <b> Credits </b> : </u> </td> <td> @@CREDITS </td> </tr>
    <tr>
     <td id="lc">
      <u>
       <b>
        Appears On
       </b>
       :
      </u>
     </td>
     <td>
      @@ALBUM
     </td>
    </tr>
    <tr>
     <td id="lc">
      <u>
       <b>
        Language
       </b>
       :
      </u>
     </td>
     <td>
      @@LANGUAGE
     </td>
    </tr>
   </table>
  </div>
  <table id="lyrics">
  </table>
  <cleaned>
  </cleaned>
 </body>
</html>
