<!doctype html>
<html lang="en">
<head>
    <title>@@ARTIST - @@TITLE</title>
	 <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="../../index.htlm">Celtic Lyrics Corner</a> > <a href="../../artists.html">Artists</a> ><a href="../index.html">@@ARTIST</a>
    <a href="@@ALB_LINK">@@ALBUM</a><br>
    <div align=center>
    <table id="head_t">
        <tr>
            <td id="lc"><img src="@@ALB_LINK.jpg"></td>
            <td><h3>@@TITLE</h3></td>
        </tr>
        <tr> <td id="lc"> <u><b>Credits</b>:</u> </td> <td> @@CREDITS </td> </tr>
        <tr>
            <td id="lc">
                <u><b>Appears On</b>:</u>
            </td>
            <td>
                @@ALBUM
            </td>
        </tr>
        <tr> <td id="lc"> <u><b>Language</b>:</u> </td> <td> @@LANGUAGE </td> </tr>
    </table>
    </p>
    
    <table id="lyrics">
    </table>
</div>
</body>

</html>
